.calendarBox
  position: fixed
  left: 0
  right: 0
  z-index: 10
  background-color: #fff
.calendarList
  padding-top: 400px
  &.isRolled
    padding-top: 200px

.active [class~="v-btn"]:before
  background-color: #345fec
  opacity: 1
