.calendarArea
  display: flex
  [class~="v-sheet"]
    flex: 1 0 auto
.calendarList
  display: flex
  flex-direction: column
  height: calc(100vh - 525px)
  overflow-y: scroll
  &.isRolled
    height: calc(100vh - 280px)
.active [class~="v-btn"]:before
  background-color: #345fec
  opacity: 1
